.sysDebugXMLBox { clear:both; padding:10px; }
.sysDebugXMLBoxTop { color:#CC0000; padding:10px; background-color:#EEEEEE; border:1px solid #DDDDDD; border-bottom:0px; font-weight:bold; font-size:16px; }
.sysDebugXMLBoxContent { padding:10px; border:1px solid #DDDDDD; border-top:0px; background-color:#F3F3F3; word-break:break-all; word-wrap: break-word; }
.sysDebugXML { font-size:12px; color:#000000; font-family:Courier New; border:1px solid #F0F0F0; margin:0px; padding:0px; background-color:#FFFFFF; }
.sysDebugTimer { clear:both; padding:10px; }
.sysDebugTimerInner { text-align:center; font-size:24px; font-family:"微软雅黑"; color:#000000; }
.sysDebugTimerInner b { font-size:24px; padding:0px 10px 0px 10px; color:#CC0000; }
/*分页*/
.sysPages { clear:both; }
.sysPages a, .sysPages b { border:1px solid #CCCCCC; background-color:#EEEEEE; margin-right:3px; padding:5px 10px 5px 10px; }
.sysPages span { padding:5px 10px 5px 10px; margin-right:3px; }